*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #EFD9CE;
  font-family: 'Dosis', sans-serif;
  color: #A675A1;
  font-size: 14px;
}

body {
  position: relative;
  top: 200px;
  width: 500px;
  margin: 10px;
}

header {
  font-family: 'Gravitas One', serif;
  color: #8F3985;
  text-transform: uppercase;
}

.quote {
  color: #25283D;
}
