*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #EFD9CE;
  font-family: 'Dosis', sans-serif;
  color: #A675A1;
  font-size: 20px;
}

body {
  position: relative;
  top: 100px;
  bottom: 100px;
  width: 500px;
  margin: 10px;
  line-height: 1.5;
}

header {
  font-family: 'Gravitas One', serif;
  color: #8F3985;
  text-transform: uppercase;
}

p {
  margin-bottom: 20px;
}

.quote {
  font-style: italic;
  font-weight: 600px;
  color: #25283D;
}
